@import "../../../src/styles/variables.scss";
@import "../../../src/styles/mixin.scss";
.contentItem {
  box-sizing: border-box;
  width: 48%;
  list-style: none;
  display: flex !important;
  border: 1px solid $gray;
  border-radius: 5px;
  margin: 0.5rem;
  overflow: hidden;
  // box-shadow: 0 2px 2px 1px $gray;
  min-height: 224px;
  max-height: 230px;
  transition: $general-transition;
  @include respond-to(medium) {
  width: 100%;
  }
  &:hover .panel {
    transform: translateY(20%) !important;
  }
  .bookTable {
    position: relative;
  }
  .price {
    position: absolute;
    right: 15%;
    top: 13.5%;
    width: 20%;
    font-size: 1.6rem;
    font-weight: 500;
    color: $orange-pink;
    font-family: sans-serif;
    filter: drop-shadow(0 0 1px $white  );
    @include respond-to(extralarge) {
      position: static;
    }
  }
  .description {
    // max-width: 36%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50% !important;
    padding: 30px 30px 0 30px;
    background: rgb(238, 222, 199);
    background: linear-gradient(
      90deg,
      rgba(217, 195, 165, 0.555) 0%,
      rgba(255, 255, 255, 0.6139705882352942) 99%
    );
    p{
      color: $light-gray;
      font-size: 1rem;
      @include respond-to(extralarge) {
        padding: 0;
        margin: 0;
      }
    }
    h4 {
      font-size: 26px;
      margin: 0;
      padding: 0;
      font-weight: 700;
      width: 70%;
      @include respond-to(extralarge) {
        width: 100%;
        font-size: 23px;
      }
    }
    .panel {
      box-sizing: border-box;
      animation: changeBorderColor 10s infinite;
      padding-bottom: 15px;
      padding-top: 10px;
      border-radius: 14px 14px 0 0;
      box-shadow: $general-box-shadow;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 95%;
      margin: 0 7px;
      font-size: 21px;
      transform: translateY(91%);
      transition: $general-transition;
      background-color: $gray;
      position: absolute;
      bottom: 0;
      right: 0;
      backdrop-filter: blur(3px);
      span {
        color: $dark-gray;
        transition: $general-transition;
        cursor: pointer;
        &:hover {
          scale: 1.3;
          filter: drop-shadow(0 2px 3px $light-gray);
          color: $black;
        }
      }
      .likeIcon {
        color: red !important;
      }
    }
  }
  .itemImage {
    width: 63%;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
    overflow: hidden;
    &:hover image {
      width: 100%;
    }
  }
}
.reverseContent {
  flex-direction: row-reverse !important;
  .description {
    background: rgb(238, 222, 199) !important;
    background: linear-gradient(
      270deg,
      rgba(238, 222, 199, 0.5551470588235294) 0%,
      rgba(255, 255, 255, 0.6139705882352942) 99%
    ) !important;
  }
}
@keyframes changeBorderColor {
  0% {
    border-top: 3px solid rgb(208, 175, 42);
  }
  30% {
    border-top: 3px solid rgb(165, 181, 73);
  }
  65% {
    border-top: 4px solid rgb(212, 190, 195);
  }
  100% {
    border-top: 3px solid rgb(42, 208, 72);
  }
}
.addedToCart {
  transition: $general-transition;
  transform: scale(1.015);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.198);
  z-index: 1;
  border: 2px solid rgba(255, 0, 0, 0.672);
}
