@import "./variables.scss";
@mixin containerStyle {
    padding: 5rem 12rem;
    width: auto;
    background-color: $white;
    top: 50vh;
    position: relative;
  }
  @mixin menuTitleStyle {
    text-align: center;
    font-size: 52px !important;
    font-weight: 900;
    position: absolute;
    top: -28vh;
    left: 50%;
    transform: translatex(-50%);
    color: $white;
  }
  @mixin paraphStyle{
    color: $text;
    line-height: 2rem;
    font-weight: 450;
    font-size: 1.2rem;
  }
  @mixin textStyle($size,$weight) {
    font-size: $size;
    font-weight: $weight;

  }
  @mixin reSet{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @mixin setTitle{
    text-align: center;
    font-size: 52px;
    font-weight: 900;
  }
  @mixin inputStyle{
    outline: none;
    border: 1px solid gainsboro;
    padding: 17px;
    font-size: 16px;
  }