$gray:rgba(188, 188, 188, 0.217);
$orange-pink:#c9aa7f;
$white:#fff;
$black:#000;
$dark-gray:#474747;
$light-gray:#969696;
$general-title:#303030;
$text: #676767;
$footer:#131313;

$general-box-shadow:0 5px 10px $gray;
$general-transition: all .2s  ease-in-out;