@import "../../styles/variables.scss";
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
    .close{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        background-color: $white;
        border-radius: 10px;
        font-size: 18px;
    }
  }
  
  .modalMain {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .displayBlock {
    display: block;
  }
  
  .displayNone {
    display: none;
  }
  