@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";
.footer {
  background: $footer;
  margin-top: 20rem;
  height: 35vh;
  color: $white;
  display: flex;
  justify-content: space-between;
  z-index: 100 !important;
  padding: 5rem 12rem;
  z-index: 100;
  @include respond-to(extralarge) {
    padding: 5vw;
  }
  @include respond-to(large) {
    flex-wrap: wrap;
    height: fit-content;
    
  }
  >div{
    width: 20%;
  @include respond-to(large) {
  width: 50%
  }
  @include respond-to(medium) {
    width: 100%
    }
    p{
        @include paraphStyle;
        line-height: 1.7rem;
        color: $light-gray;
        font-size: 16px;
        font-weight: 600;
    }
  }
  .opens{
      >div{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    div{
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: $light-gray;
        line-height: 1.7rem;

    }}
  }
}
