.section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 100vh; /* برای مثال */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 5rem 12rem;
position: relative !important;

}
